<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://pandao.github.io/editor.md/css/editormd.css">
	<script src="https://pandao.github.io/editor.md/examples/js/jquery.min.js"></script>
	<script src="https://pandao.github.io/editor.md/editormd.min.js"></script>
<body>
	<script>var testEditor;$(function(){testEditor=editormd("editormd",{width:"100%",height:600,path:"/static/markdown/lib/",codeFold:!0,saveHTMLToTextarea:!0,searchReplace:!0,htmlDecode:"style,script,iframe|on*",emoji:!0,taskList:!0,tocm:!0,imageUpload:!0,imageFormats:["jpg","jpeg","gif","png","bmp","webp"],imageUploadURL:"/admin/upload/markdown",onload:function(){console.log("onload",this)}})});</script>
</body>
</head>
</html>