<!DOCTYPE html>
<html lang="zh-cn">
<% include head.html %>

    <body>
        <% include top.html %>
            <div class="container">
                <ul class="bread">
                    <li><a href="/admin" class="icon-home">首页</a></li>
                    <li><a href="/admin/system">系统</a></li>
                </ul>
                <div class="admin">
                    <div class="line-big">
                        <div class="xm12">
                            <div class="panel admin-panel">
                                <div class="panel-head"><strong>系统设置</strong></div>
                                <div class="panel-body">
                                    <form method="post" class="form-x" action="">
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="sitename">网站名称</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="title" name="title" size="50" placeholder="网站名称" value="<%=_web['title']%>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="siteurl">网址</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="url" name="url" size="50" placeholder="请填写网址" value="<%=_web['url']%>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="siteurl">多说域名</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="duoshuo" name="duoshuo" size="50" placeholder="请填写多说二级域名" value="<%=_web['duoshuo']%>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="siteurl">七牛空间名称</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="qnbucket" name="qnbucket" size="50" placeholder="请填写七牛空间名称" value="<%=_web['qnbucket']%>">
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="siteurl">七牛ACCESS_KEY</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="qnaccess" name="qnaccess" size="50" placeholder="请填写七牛ACCESS_KEY" value="<%=_web['qnaccess']%>">
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="siteurl">七牛SECRET_KEY</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="qnsecret" name="qnsecret" size="50" placeholder="请填写七牛七牛SECRET_KEY" value="<%=_web['qnsecret']%>">
                                            </div>
                                        </div>                                                                                                                        
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="siteurl">百度推送</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="bdpush" name="bdpush" size="50" placeholder="请填写百度推送地址" value="<%=_web['bdpush']%>">
                                            </div>
                                        </div>                                        
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="keywords">关键词</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="keyword" name="keyword" size="50" placeholder="站点关键词，用于搜索引擎优化" value="<%=_web['keyword']%>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="desc">描述</label>
                                            </div>
                                            <div class="field">
                                                <input type="text" class="input" id="description" name="description" size="50" placeholder="网站的描述，用于搜索引擎优化" value="<%=_web['description']%>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="readme">底部版权</label>
                                            </div>
                                            <div class="field">
                                                <textarea class="input" name="copyright" rows="4" cols="50" placeholder="请填写底部版权"><%=_web['copyright']%></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="readme">友情链接</label>
                                            </div>
                                            <div class="field">
                                                <textarea class="input" name="linkurl" rows="4" cols="50" placeholder="请填写友情链接"><%=_web['linkurl']%></textarea>
                                            </div>
                                        </div>
                                        <div class="form-button">
                                            <button class="button bg-main" type="submit">提交</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include foot.html %>
    </body>

</html>
