<!DOCTYPE html>

<html lang="zh-cn">

<% include head.html %>

 <body>
 <% include editor.html %>
 
 <% include menu.html %>

  <div class="admin"> 

        <div class="panel  admin-panel" id="tab-set">

             <div class="panel-head"> 

      <strong> 添加内容 </strong> 

     </div> 

     <div class="panel-foot">

         <form method="post" class="form-x" action="/admin/content/add.html">
                <input type="hidden" name="id" value="<%=content.id%>" />
                <div class="form-group">

                    <div class="label"><label for="sitename">文章标题</label></div>

                    <div class="field">

                      <input type="text" class="input" id="title" name="title" size="50" placeholder="文章标题" data-validate="required:请填写文章标题" value="<%=content.title%>" />

                    </div>

                </div>

                <div class="form-group">

                    <div class="label"><label for="sitename">url静态化</label></div>

                    <div class="field">

                      <input type="text" class="input" id="url" name="url" size="50" placeholder="不填写则使用文章id，不能为数字"  value="<%=content.url%>" />

                    </div>

                </div>                

                <div class="form-group">

                    <div class="label"><label for="sitename">所属分类</label></div>

                    <div class="field">

                     <select class="input" name="category"> 

                     <%category.forEach(function(data){%>

                      <option value="<%=data.id%>" <%if(content.cid==data.id){%>selected<%}%>><%=data.name%></option> 

                      <%})%>

                     </select>

                    </div>

                </div>

                <div class="form-group">

                    <div class="label"><label for="sitename">文章标签</label></div>

                    <div class="field">

                     <select class="input" name="tag"> 

                     <%tag.forEach(function(data){%>

                      <option value="<%=data.id%>" <%if(content.tid==data.id){%>selected<%}%>><%=data.name%></option> 

                      <%})%>

                      </select>

                    </div>

                </div>                

                <div class="form-group">

                    <div class="label"><label for="readme">文章内容</label></div>

                    <div class="field">

                      <textarea style="height: 380px;" class="input" name="content" id="content" rows="10" cols="50" placeholder="文章内容">
                        <%=content.text%>
                      </textarea>

                    </div>

                </div>                         

                <div class="form-group">

                  <div class="label"><label>文章状态</label></div>

                  <div class="field">

                        <div class="button-group button-group-small radio">

                            <label class="button <%if(content.status==1){%>active<%}%>">

                            <input name="status" value="1" type="radio" <%if(content.status==1){%>checked="checked"<%}%>>

                            <span class="icon icon-check"></span> 

                              开启</label>

                            <label class="button <%if(content.status==0){%>active<%}%>">

                            <input name="status" value="0" type="radio" <%if(content.status==0){%>checked="checked"<%}%>>

                            <span class="icon icon-times"></span> 

                            关闭</label>

                        </div>

                    </div>

                </div>

                 <div class="form-group">

                  <div class="label"><label>允许评论</label></div>

                  <div class="field">

                        <div class="button-group button-group-small radio">

                            <label class="button <%if(content.iscomment==1){%>active<%}%>">

                            <input name="iscomment" value="1" type="radio" <%if(content.iscomment==1){%>checked="checked"<%}%>>

                            <span class="icon icon-check"></span> 

                              开启</label>

                            <label class="button <%if(content.iscomment==0){%>active<%}%>">

                            <input name="iscomment" value="0" type="radio"  <%if(content.iscomment==0){%>checked="checked"<%}%>>

                            <span class="icon icon-times"></span> 

                            关闭</label>

                        </div>

                    </div>

                </div>  

                 <div class="form-group">

                  <div class="label"><label>文章类型</label></div>

                  <div class="field">

                        <div class="button-group button-group-small radio">

                            <label class="button <%if(content.ispage==1){%>active<%}%>">

                            <input name="ispage" value="1" type="radio" <%if(content.ispage==1){%>checked="checked"<%}%>>

                            <span class="icon icon-check"></span> 

                              文章</label>

                            <label class="button <%if(content.ispage==2){%>active<%}%>">

                            <input name="ispage" value="2" type="radio"  <%if(content.ispage==2){%>checked="checked"<%}%>>

                            <span class="icon icon-times"></span> 

                            页面</label>

                        </div>

                    </div>

                </div>                              

                <div class="form-button"><button class="button bg-main" type="submit">提交</button></div>

            </form>

     </div>

        </div>   

  </div> 

 </body>

</html>