<!DOCTYPE html>
<html lang="zh-cn">
<% include head.html %>
	<body>
		<!--顶部-->
		<% include top.html %>
		<!--内容-->
		<div class="container">
			<ul class="bread">
				<li><a href="/admin" class="icon-home">首页</a> </li>
				<li><a href="/admin/content">内容</a></li>
			</ul>
			<div class="admin">
				<div class="line-big">
					<form method="post" class="form-x" action="/admin/content/add.html">
					<input type="hidden" name="id" value="<%=content.id%>" />
					<div class="xm9">
						<div class="panel  admin-panel">
							<div class="panel-head"><strong> 撰写文章 </strong></div>
							<div class="panel-body">
			                <div class="form-group">
			                      <input type="text" class="input" id="title" name="title" size="50" placeholder="标题" value="<%=content.title%>" />
			                </div>	
			                 <div class="form-group">
			                 	 <textarea class="input" name="content" id="content" rows="15" cols="50" placeholder="文章内容"><%=content.text%></textarea>
			                 </div>
							</div>
						</div>
						</div>
						<div class="xm3">
							<label class="label"> url静态化</label> 
							<input type="text" name="url" class="input"  value="<%=content.url%>" placeholder="不能为数字" />
							<label class="label"> 所属分类</label> 
							<select class="input"  name="category"> 
		                     <%category.forEach(function(data){%>
		                      <option value="<%=data.id%>" <%if(content.cid==data.id){%>selected<%}%>><%=data.name%></option> 
		                      <%})%>
							</select>
							<label class="label"> 文章标签</label>
							<select class="input"  name="tag"> 
		                     <%tag.forEach(function(data){%>
		                      <option value="<%=data.id%>" <%if(content.tid==data.id){%>selected<%}%>><%=data.name%></option> 
		                      <%})%>	
		                      </select> 
	                  		<div class="label"><label>文章状态</label></div>
	                        <div class="button-group button-group-small radio">
	                            <label class="button <%if(content.status==1){%>active<%}%>">
	                            <input name="status" value="1" type="radio" <%if(content.status==1){%>checked="checked"<%}%>>
	                            <span class="icon icon-check"></span> 
	                              开启</label>
	                            <label class="button <%if(content.status==0){%>active<%}%>">
	                            <input name="status" value="0" type="radio" <%if(content.status==0){%>checked="checked"<%}%>>
	                            <span class="icon icon-times"></span> 
	                            关闭</label>
	                        </div>

	                  		<div class="label"><label>允许评论</label></div>
	                        <div class="button-group button-group-small radio">
	                            <label class="button <%if(content.iscomment==1){%>active<%}%>">
	                            <input name="iscomment" value="1" type="radio" <%if(content.iscomment==1){%>checked="checked"<%}%>>
	                            <span class="icon icon-check"></span> 开启</label>
	                            <label class="button <%if(content.iscomment==0){%>active<%}%>">
	                            <input name="iscomment" value="0" type="radio"  <%if(content.iscomment==0){%>checked="checked"<%}%>>
	                            <span class="icon icon-times"></span> 关闭</label>
	                        </div>                      

	                  		<div class="label"><label>文章类型</label></div>
	                        <div class="button-group button-group-small radio">
	                            <label class="button <%if(content.ispage==1){%>active<%}%>">
	                            <input name="ispage" value="1" type="radio" <%if(content.ispage==1){%>checked="checked"<%}%>>
	                            <span class="icon icon-check"></span> 文章</label>
	                            <label class="button <%if(content.ispage==2){%>active<%}%>">
	                            <input name="ispage" value="2" type="radio"  <%if(content.ispage==2){%>checked="checked"<%}%>>
	                            <span class="icon icon-times"></span> 页面</label>
	                        </div>
							<div class="margin-large-top">
								<button class="button border-main">立即提交</button>
							</div>
						</div>
					</form>		
					</div>
				</div>
			</div>
			<!--底部-->
			<% include foot.html %>
			<% include editor.html %>
	</body>

</html>