<!DOCTYPE html>

<html lang="zh-cn">

<% include head.html %>

 <body>

   <% include menu.html %>

 

  <div class="admin"> 

   <div class="line-big"> 

    <div class="xm3"> 

     <div class="panel border-back" style="height: 228px;"> 

      <div class="panel-body text-center"> 

       <img src="<%=_web.url%>static/img/logos.png" width="120" height="120" class="radius-circle" />

       <br /> <%=userInfo.user%>

      </div> 

      <div class="panel-foot bg-back border-back">

        <%=newMood.mood%> 

      </div> 

     </div> 

     <br /> 

     <div class="panel"> 

      <div class="panel-head"> 

       <strong> 站点统计 </strong> 

      </div> 

      <ul class="list-group margin"> 

       <li> <span class="float-right badge bg-main"> <%=content%> </span> <span class="icon-file"> </span>文章 </li> 

       <li> <span class="float-right badge bg-main"> <%=mood%> </span> <span class="icon-shopping-cart"> </span>心情 </li> 

       <li> <span class="float-right badge bg-main"> <%=comment%> </span> <span class="icon-file-text"> </span>留言 </li> 

       <li> <span class="float-right badge bg-main"> <%=count%> </span> <span class="icon-database"> </span>访问 </li> 

      </ul> 

     </div> 

     <br /> 

    </div> 

    <div class="xm9"> 



     <div class="alert" style="height: 228px;"> 
          <div class="panel"> 
            <div class="panel-head">发表心情</div> 
            <form action="/admin/mood/add" method="post">
            <div class="panel-body">
              <input type="text" class="input" name="mood" />
              <button class="button bg-main margin-top">发表</button>
            </div>
            </form>
           </div>
     </div> 

     <div class="panel"> 

      <div class="panel-head"> 

       <strong> 最新留言 </strong> 

      </div> 
      <div class="panel-body">
          <ul class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-admin="1" data-excerpt-length="70"></ul>
          <!--多说js加载开始，一个页面只需要加载一次 -->
          <script type="text/javascript">
          var duoshuoQuery = {short_name:"<%=_web['duoshuo']%>"};
          (function() {
              var ds = document.createElement('script');
              ds.type = 'text/javascript';ds.async = true;
              ds.src = 'http://static.duoshuo.com/embed.js';
              ds.charset = 'UTF-8';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
          </script>
          <!--多说js加载结束，一个页面只需要加载一次 -->
      </div>

     </div> 

    </div> 

   </div> 

   <p class="text-right text-gray"> 基于<a class="text-gray" target="_blank" href="http://www.nodejs.org"> nodejs </a> 和 <a class="text-gray" target="_blank" href="http://www.pintuer.com"> 拼图前端框架 </a>构建 </p> 

   <br /> 

  </div>  

 </body>

</html>