<!DOCTYPE html>

<html lang="zh-cn">

<% include head.html %>

 <body>

   <% include menu.html %>

 

  <div class="admin"> 

   <div class="line-big"> 

    <div class="xm3"> 

     <div class="panel border-back" style="height: 228px;"> 

      <div class="panel-body text-center"> 

       <img src="<%=_web.url%>static/img/logos.png" width="120" height="120" class="radius-circle" />

       <br /> <%=userInfo.user%>

      </div> 

      <div class="panel-foot bg-back border-back">

        <%=newMood.mood%> 

      </div> 

     </div> 

     <br /> 

     <div class="panel"> 

      <div class="panel-head"> 

       <strong> 站点统计 </strong> 

      </div> 

      <ul class="list-group margin"> 

       <li> <span class="float-right badge bg-main"> <%=content%> </span> <span class="icon-file"> </span>文章 </li> 

       <li> <span class="float-right badge bg-main"> <%=mood%> </span> <span class="icon-shopping-cart"> </span>心情 </li> 

       <li> <span class="float-right badge bg-main"> <%=comment%> </span> <span class="icon-file-text"> </span>留言 </li> 

       <li> <span class="float-right badge bg-main"> <%=count%> </span> <span class="icon-database"> </span>访问 </li> 

      </ul> 

     </div> 

     <br /> 

    </div> 

    <div class="xm9"> 



     <div class="alert" style="height: 228px;"> 
          <div class="panel"> 
            <div class="panel-head">发表心情</div> 
            <form action="/admin/mood/add" method="post">
            <div class="panel-body">
              <input type="text" class="input" name="mood" />
              <button class="button bg-main margin-top">发表</button>
            </div>
            </form>
           </div>
     </div> 

     <div class="panel"> 

      <div class="panel-head"> 

       <strong> 系统信息 </strong> 

      </div> 

      <table class="table"> 

       <tbody>

        <tr> 

         <th colspan="2"> 服务器信息 </th> 

         <th colspan="2"> 系统信息 </th> 

        </tr> 

        <tr> 

         <td width="110" align="right"> 操作系统： </td> 

         <td> ContOS 6.5 </td> 

         <td width="90" align="right"> 系统开发： </td> 

         <td> <a href="http://www.eyblog.com" target="_blank"> 大萌 </a> </td> 

        </tr> 

        <tr> 

         <td align="right"> Web服务器： </td> 

         <td> Nginx </td> 

         <td align="right"> 主页： </td> 

         <td> <a href="http://www.eyblog.com" target="_blank"> http://www.eyblog.com </a> </td> 

        </tr> 

        <tr> 

         <td align="right"> 程序语言： </td> 

         <td> node.js </td> 

         <td align="right"> 演示： </td> 

         <td> <a href="http://www.eyblog.com" target="_blank"> http://www.eyblog.com </a> </td> 

        </tr> 

        <tr> 

         <td align="right"> 数据库： </td> 

         <td> MySQL </td> 

         <td align="right"> 群交流： </td> 

         <td> <a href="http://shang.qq.com/wpa/qunwpa?idkey=a4f584d6055dc184ba5a867df460469db60983ccdee1a434f6ddcad7c9bc7ba3" target="_blank"> 78078316 </a>(点击加入) </td> 

        </tr> 

       </tbody>

      </table> 

     </div> 

    </div> 

   </div> 

   <p class="text-right text-gray"> 基于<a class="text-gray" target="_blank" href="http://www.nodejs.org"> nodejs </a> 和 <a class="text-gray" target="_blank" href="http://www.pintuer.com"> 拼图前端框架 </a>构建 </p> 

   <br /> 

  </div>  

 </body>

</html>