<div class="lefter">

    <div class="logo"><a href="/" target="_blank"><img src="/static/img/logo.png" alt="easyou" /></a></div>

</div> 

  <div class="righter nav-navicon" id="admin-nav"> 

   <div class="mainer"> 

    <div class="admin-navbar"> 

     <span class="float-right"> <a class="button button-little bg-main" href="/" target="_blank"> 前台首页 </a> <a class="button button-little bg-yellow" href="/admin/index/loginout"> 注销登录 </a> </span> 

     <ul class="nav nav-inline admin-nav"> 

      <li <%if(model=="index"){%>class="active"<%}%>> <a href="/admin/index" class="icon-home"> 开始 </a> 

       <ul> 

        <li> <a href="/admin/system"> 系统设置 </a> </li> 

        <li> <a href="/admin/content"> 内容管理 </a> </li> 

        <li> <a href="/admin/content/add"> 添加内容 </a> </li> 

       <li> <a href="/admin/content/cate"> 分类设置 </a> </li> 

        <li> <a href="/admin/content/tag"> 标签设置 </a> </li> 


       </ul> </li> 

      <li <%if(model=="system"){%>class="active"<%}%>> <a href="/admin/system" class="icon-cog"> 系统 </a> 

       <ul> 

        <li <%if(action=="index"){%>class="active"<%}%>> <a href="/admin/system/index"> 系统设置 </a> </li> 
        <li <%if(action=="change"){%>class="active"<%}%>> <a href="/admin/system/change"> 密码修改 </a> </li>
        <li <%if(action=="count"){%>class="active"<%}%>> <a href="/admin/system/count"> 访客记录 </a> </li>

       </ul> </li> 

      <li <%if(model=="content"){%>class="active"<%}%>> <a href="/admin/content.html" class="icon-file-text"> 内容 </a> 

       <ul> 

        <li <%if(action=="add"){%>class="active"<%}%>> <a href="/admin/content/add"> 添加内容 </a> </li> 

        <li <%if(action=="index"){%>class="active"<%}%>> <a href="/admin/content"> 内容管理 </a> </li> 

        <li <%if(action=="mood"){%>class="active"<%}%>> <a href="/admin/content/mood"> 心情管理 </a> </li> 

        <li <%if(action=="cate"){%>class="active"<%}%>> <a href="/admin/content/cate"> 分类设置 </a> </li> 

        <li <%if(action=="tag"){%>class="active"<%}%>> <a href="/admin/content/tag"> 标签设置 </a> </li> 

       </ul> </li> 

     </ul> 

    </div> 

    <div class="admin-bread"> 

     <span> 您好，<%=userInfo.user%>，欢迎您的光临。 </span> 

     <ul class="bread"> 

      <li> <a href="index.html" class="icon-home"> 开始 </a> </li> 

      <li> <a href="content.html"> 内容 </a> </li> 

      <li> 内容管理 </li> 

     </ul> 

    </div> 

   </div> 

  </div> 