<!DOCTYPE html>

<html lang="zh-cn">

<% include head.html %>

 <body>  

<% include menu.html %>

  <div class="admin"> 



   <form method="post" action="/admin/content/delete"> 

    <div class="panel admin-panel"> 

     <div class="panel-head"> 

      <strong> 访客记录 </strong> 

     </div> 

      <div class="padding border-bottom margin"> 
      <span><%=start%> 到 <%=end%></span>
      共
      <span class="tag bg-main"><%=list.count%> PV</span>  
      <span class="tag bg-main"><%=list.ip%> IP</span> 
     </div>     

     <table class="table table-hover"> 

      <tbody>

       <tr> 

        <th width="50"> IP </th> 

        <th width="120"> 时间 </th> 

        <th width="100"> 页面 </th> 

        <th width="10"> 来源 </th> 

        <th width="100"> 操作 </th> 

       </tr> <% list.data.forEach(function(v) { %> 

       <tr> 

        <td> 
        <span style="cursor:pointer;" class="text-green tips"  data-place="top" data-toggle="hover" title="<%=v.userAgent%>"><%=v.ip%> </span>
        
        </td> 

        <td> <%=v.time%> </td> 

        <td> <%=v.url%> </td> 

        <td> <%=v.Referer%> </td>

        <td> <a class="button border-yellow button-little dia" href="javascript:void(0)"  data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%" data-id="<%=v.id%>"> 禁止 </a> 
         </td> 

       </tr> <% }) %> 

      </tbody>

     </table>
  <div class="panel-foot text-center"> 
  
   <ul class="pagination  border-main">
   <% 
   if(list.totalPages>1){
   for(var i=1;i<list.totalPages+1;i++){%>
   <li <%if(list.currentPage==i){%>class="active" style="background: #0AE;"<%}%>>
        <a href="/admin/system/count/p/<%=i%>"><%=i%></a>
    </li>
   <%}}%>
   </ul>
 </div>     

    </div> 

   </form> 

  </div> 
 </body>

</html>