<!DOCTYPE html>

<html lang="zh-cn">

<% include head.html %>

 <body>  

<% include menu.html %>

  <div class="admin"> 


    <div class="tab">
      <div class="tab-head">
        <strong>系统设置</strong>
        <ul class="tab-nav">
          <li class="active"><a href="#tab-set">基础设置</a></li>
        </ul>
      </div>
      <div class="tab-body">
        <br />
        <div class="tab-panel active" id="tab-set">
        	<form method="post" class="form-x" action="">
                <div class="form-group">
                    <div class="label"><label for="sitename">网站名称</label></div>
                    <div class="field">
                    	<input type="text" class="input" id="title" name="title" size="50" placeholder="网站名称" data-validate="required:请填写你网站的名称" value="<%=_web['title']%>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label"><label for="siteurl">网址</label></div>
                    <div class="field">
                    	<input type="text" class="input" id="url" name="url" size="50" placeholder="请填写网址" data-validate="required:请填写网址"  value="<%=_web['url']%>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label"><label for="siteurl">多说域名</label></div>
                    <div class="field">
                        <input type="text" class="input" id="duoshuo" name="duoshuo" size="50" placeholder="请填写多说二级域名" data-validate="required:请填写多说二级域名"  value="<%=_web['duoshuo']%>" />
                    </div>
                </div>                
                <div class="form-group">
                    <div class="label"><label for="keywords">关键词</label></div>
                    <div class="field">
                    	<input type="text" class="input" id="keyword" name="keyword" size="50" placeholder="站点关键词，用于搜索引擎优化" data-validate="required:请填写站点关键词，建议在100字以内。"
                         value="<%=_web['keyword']%>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label"><label for="desc">描述</label></div>
                    <div class="field">
                    	<input type="text" class="input" id="description" name="description" size="50" placeholder="网站的描述，用于搜索引擎优化" data-validate="required:请填写网站的描述，建议在200字以内。"
                        value="<%=_web['description']%>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label"><label for="readme">底部版权</label></div>
                    <div class="field">
                            <textarea class="input" name="copyright" rows="5" cols="50" placeholder="请填写底部版权" data-validate="required:请填写底部版权"><%=_web['copyright']%></textarea>
                    </div>
                </div> 
                <div class="form-group">
                    <div class="label"><label for="readme">友情链接</label></div>
                    <div class="field">
                                <textarea class="input" name="linkurl" rows="5" cols="50" placeholder="请填写友情链接" data-validate="required:请填写友情链接"><%=_web['linkurl']%></textarea>
                    </div>
                </div>                                
                <div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
            </form>
        </div>
      </div>
    </div>

  </div>  

 </body>

</html>