<!DOCTYPE html>

<html lang="zh-cn">

<% include head.html %>

 <body>  

<% include menu.html %>

  <div class="admin"> 
    <div class="tab">
      <div class="tab-head">
        <strong>系统设置</strong>
        <ul class="tab-nav">
          <li class="active"><a href="#tab-set">密码修改</a></li>
        </ul>
      </div>
      <div class="tab-body">
        <br />
        <div class="tab-panel padding active" id="tab-set">
          <form method="post" class="form-auto" method="/admin/system/change">
              <div class="form-group">
                  <div class="field">
                      <input type="text" class="input" id="user" name="user" size="30" placeholder="用户名" />
                  </div>
              </div>          
              <div class="form-group">
                  <div class="field">
                      <input type="password" class="input" id="password" name="password" size="30" placeholder="原密码" />
                  </div>
              </div>
              <div class="form-group">
                  <div class="field">
                      <input type="password" class="input" id="password1" name="password1" size="30" placeholder="新密码" />
                  </div>
              </div>
              <div class="form-group">
                  <div class="field">
                      <input type="password" class="input" id="password2" name="password2" size="30" placeholder="确认新密码" />
                  </div>
              </div>              
              <div class="form-button">
                  <button class="button" type="submit" id="change" data-toggle="click" data-target="#dialog" data-mask="1" data-width="30%">确认修改</button>
              </div>
          </form>
        </div>
      </div>
    </div>

  </div> 

<div class="dialog" id="dialog">
  <div class="alert alert-red fadein-top"> 
  <span class="close rotate-hover"></span> 
  <strong>操作失败</strong> 
  <p>请重新操作。</p>
</div>
</div>
<script type="text/javascript">
  $(function(){
    $("#change").click(function(){
      var self=$(this);
      var pwd=$("#password").val();
      var pwd1=$("#password1").val();
      var pwd2=$("#password2").val();
      if(!pwd){
        $(".alert p").html("请填写原始密码");
        $showdialogs(self);
        return false;
      }
      if(pwd1!=pwd2||!pwd1||!pwd2){
        $(".alert p").html("两次密码不一致");
        $showdialogs(self);
        return false;
      }
    });    
  });
</script>
 </body>

</html>