<!DOCTYPE html>
<html class="">
    <%include header.html%>
    <body>
        <div id="container">
            <%include menu.html%>
            <div class="mid-col">
            <%include m_menu.html%>

    <article id="post-douban-index-for-chrome" class="article article-type-post fadein" itemscope="" itemprop="blogPost">
					<div class="margin-large" style="min-height: 400px;text-align: center;">

						<h1 style="padding-top: 20%;">
							404 not found
						</h1>

						</div>
    </article>


  <%include footer.html%>
  
  </div>
</div>
</body></html>