 <!DOCTYPE html>
<html class="">
    <%include header.html%>
    <body>
        <div id="container">
            <%include menu.html%>
            <div class="mid-col">
            <%include m_menu.html%>
    <article id="post-douban-index-for-chrome" class="article article-type-post fadein" itemscope="" itemprop="blogPost">
	 	<ul class="list-media list-underline"> 
 			<%data.forEach(function(v){%>
 			<li> 
 					<p class="float-right margin-big-top text-gray text-small hidden-l"><%=v.time%></p> 
              <h1 itemprop="name">
                <a class="article-title archive-title tips"  data-toggle="hover" data-place="top"  title="<%=v.view%>次点击" href="<%=_web.url%>page/<%=v.id%>.html"><%=v.title%></a>
              </h1>               
 			</li>
			<%})%>
 		</ul>
    </article>
  <%include footer.html%>
  </div>
</div>
</body></html>