<!DOCTYPE html>

<html lang="zh-cn">

<%include header.html%>

<body>
<div id="container">
<div class="container">

    <div class="line">

        <div class="xs6 xm4 xs3-move xm4-move">

            <br /><br />

            <div class="media media-y">

                <a href="http://www.eyblog.com" target="_blank"><img src="images/logo.png" class="radius" alt="后台管理系统" /></a>

            </div>

            <br /><br />

            <form action="/login" method="post">

            <div class="panel">

                <div class="panel-head"><strong>登录后台管理系统</strong></div>

                <div class="panel-body" style="padding:30px;">

                    <div class="form-group">

                        <div class="field field-icon-right">

                            <input type="text" class="input" name="user" placeholder="登录账号"/>

                            <span class="icon icon-user"></span>

                        </div>

                    </div>

                    <div class="form-group">

                        <div class="field field-icon-right">

                            <input type="password" class="input" name="pass" placeholder="登录密码"/>

                            <span class="icon icon-key"></span>

                        </div>

                    </div>

                </div>

                <div class="panel-foot text-center"><button class="button button-block bg-main text-big">立即登录后台</button></div>

            </div>

            </form>

            <div class="text-right text-small text-gray padding-top">基于nodejs搭建的博客</div>

        </div>

    </div>

</div>
</div>
</body>

</html>