                <nav id="mobile-nav">
                    <div class="overlay"></div>
                    <div class="intrude-less">
                        <header id="header" class="inner">
                            <div class="profilepic">
                                 <img src="<%=_web.url%>resource/img/logos.png">
                            </div>
                            <hgroup>
                        <h1 class="header-author"><a href="<%=_web.url%>"><%=_web.title%></a></h1>
                            </hgroup>
                            <p class="header-subtitle"><%=newmood.mood%></p>
                            <nav class="header-menu">
                                   <ul>
                                        <li>
                                            <a class="current" href="<%=_web.url%>">首页</a>
                                        </li>                                                             <li>
                                            <a href="<%=_web.url%>mood">心情</a>
                                        </li>
                                         <li>
                                            <a href="<%=_web.url%>archives">归档</a>
                                        </li>
                                        <li>
                                            <a href="<%=_web.url%>about">关于</a>
                                        </li>
                                        <li>
                                            <a href="<%=_web.url%>comment">留言</a>
                                        </li>                                        
                                    </ul>
                            </nav>
                        </header>
                    </div>
                </nav>  